.form-control {
  display: block;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,0.6);
}
.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999;
}
.form-control::-webkit-input-placeholder {
  color: #999;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #eeeeee;
  opacity: 1;
}
textarea.form-control {
  height: auto;
}
a {
  color: #4f8a64;
}
a:hover {
  color: #3c6a4c;
}
.sp-megamenu-parent >li.active>a,
.sp-megamenu-parent >li:hover>a {
  color: #333;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item >a:hover {
  background: #f5f5f5;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item.active>a {
  color: #4f8a64;
}
#offcanvas-toggler >i {
  color: #c1b547;
}
#offcanvas-toggler >i:hover {
  color: #4f8a64;
}
.btn-primary,
.sppb-btn-primary {
  border-color: #447756;
  background-color: #4f8a64;
}
.btn-primary:hover,
.sppb-btn-primary:hover {
  border-color: #335941;
  background-color: #3c6a4c;
}
ul.social-icons >li a:hover {
  color: #4f8a64;
}
.sp-page-title {
  background: #4f8a64;
}
.layout-boxed .body-innerwrapper {
  background: none;
}
.sp-module ul >li >a {
  color: #c1b547;
}
.sp-module ul >li >a:hover {
  color: #4f8a64;
}
.sp-module .latestnews >div >a {
  color: #c1b547;
}
.sp-module .latestnews >div >a:hover {
  color: #4f8a64;
}
.sp-module .tagscloud .tag-name:hover {
  background: #4f8a64;
}
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li.active > a,
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li > a:hover {
  background: #4f8a64;
}
.search .btn-toolbar button {
  background: #4f8a64;
}
.post-format {
  background: #4f8a64;
}
.voting-symbol span.star.active:before {
  color: #4f8a64;
}
.sp-rating span.star:hover:before,
.sp-rating span.star:hover ~ span.star:before {
  color: #3c6a4c;
}
.entry-link,
.entry-quote {
  background: #4f8a64;
}
blockquote {
  border-color: #4f8a64;
}
.carousel-left:hover,
.carousel-right:hover {
  background: #4f8a64;
}
#sp-footer {
  background: #4f8a64;
}
.sp-comingsoon body {
  background-color: #4f8a64;
}
.pagination>li>a,
.pagination>li>span {
  color: #c1b547;
}
.pagination>li>a:hover,
.pagination>li>a:focus,
.pagination>li>span:hover,
.pagination>li>span:focus {
  color: #c1b547;
}
.pagination>.active>a,
.pagination>.active>span {
  border-color: #4f8a64;
  background-color: #4f8a64;
}
.pagination>.active>a:hover,
.pagination>.active>a:focus,
.pagination>.active>span:hover,
.pagination>.active>span:focus {
  border-color: #4f8a64;
  background-color: #4f8a64;
}
#slideshow .jux-slider .caroufredsel_wrapper .sliders .slide-item .slide-caption .slide-caption-action a {
  background-color: #f0e797;
  color: #c1b547;
}
#slideshow .jux-slider .caroufredsel_wrapper .sliders .slide-item .slide-caption .slide-caption-action a:hover {
  background-color: #4f8a64 !important;
  color: #fff;
}
#sp-top-bar .container .row #sp-top2 ul.sp-contact-info .sp-contact-email a:hover {
  color: #4f8a64;
}
#sp-top-bar .container .row #sp-top2 .sp-module .noologin li a:hover {
  color: #4f8a64;
}
ul.social-icons .fa:hover {
  color: #4f8a64 !important;
}
.sp-menu-right .sp-dropdown-inner .sp-dropdown-items .sp-menu-item a:hover {
  color: #4f8a64 !important;
}
.sp-menu-right .sp-dropdown-items:before {
  border-bottom: 7px solid #4f8a64;
}
.sp-menu-right .sp-dropdown-items .sp-dropdown-sub .sp-dropdown-inner .sp-dropdown-items .sp-menu-item a:hover {
  color: #4f8a64 !important;
}
.offcanvas-menu .offcanvas-inner ul.menu li a:hover {
  color: #4f8a64;
}
.login form .form-group .btn {
  background-color: #f0e797 !important;
  border-color: #f0e797 !important;
  color: #c1b547 !important;
}
.login form .form-group .btn:hover {
  background-color: #4f8a64 !important;
  border-color: #4f8a64 !important;
}
.form-links ul li a:hover {
  color: #4f8a64;
}
.noologin-fieldset .noologout-button .btn {
  background-color: #4f8a64 !important;
  border: #4f8a64 !important;
}
.registration .form-group button {
  background-color: #f0e797;
  border-color: #f0e797;
  color: #c1b547;
}
.registration .form-group button:hover {
  background-color: #4f8a64;
  border-color: #4f8a64;
}
#sp-callaction .calling-info .fa {
  color: #4f8a64;
}
#slideshow .jux-slider .caroufredsel_wrapper .sliders .slide-item .slide-caption .slide-caption-action a {
  background-color: #f0e797;
  color: #c1b547;
}
#slideshow .jux-slider .caroufredsel_wrapper .sliders .slide-item .slide-caption .slide-caption-action a:hover {
  background-color: #4f8a64 !important;
}
#sp-slideshow .sp-module-content #realty-search-horizontal #ZJSearchForm .jux-search-form .price-field #price_slider .noUi-origin {
  background-color: #4f8a64 !important;
}
#sp-slideshow .sp-module-content #realty-search-horizontal #ZJSearchForm .jux-search-form .area-field #area_slider .noUi-origin {
  background-color: #4f8a64 !important;
}
#sp-slideshow .sp-module-content #realty-search-horizontal #ZJSearchForm .box-right .search-button input:hover {
  background-color: #4f8a64 !important;
}
#search-box:before {
  background: #4f8a64;
}
#search-box .sppb-container .sppb-row .search-form #ZJSearchForm .jux-search-form .area-field #area_slider .noUi-connect {
  background: #4f8a64;
}
#search-box .sppb-container .sppb-row .search-form #ZJSearchForm .jux-search-form .price-field #price_slider .noUi-connect {
  background: #4f8a64;
}
#search-box .sppb-container .sppb-row .search-form #ZJSearchForm .box-right .advanced #advanced_btn {
  color: #4f8a64 !important;
}
#search-box .sppb-container .sppb-row .search-form #ZJSearchForm .box-right .advanced #standard_btn {
  color: #4f8a64 !important;
}
#realty-search-horizontal #ZJSearchForm .box-right .search-button .btn {
  background-color: #f0e797 !important;
  color: #c1b547 !important;
}
#realty-search-horizontal #ZJSearchForm .box-right .search-button .btn:hover {
  background-color: #4f8a64 !important;
}
.recent-properties .owl-controls .owl-buttons div {
  background: #4f8a64 !important;
}
.recent-properties .owl-wrapper-outer .owl-wrapper .owl-item .mod-properties .realty-image .status .type:hover {
  color: #4f8a64 !important;
}
.recent-properties .owl-wrapper-outer .owl-wrapper .owl-item .mod-properties .realty-wrap .realty-title a:hover {
  color: #4f8a64;
}
.recent-properties .owl-wrapper-outer .owl-wrapper .owl-item .mod-properties .realty-wrap .realty-summary .realty-info .realty-action a {
  background-color: #f0e797;
  color: #c1b547;
}
.recent-properties .owl-wrapper-outer .owl-wrapper .owl-item .mod-properties .realty-wrap .realty-summary .realty-info .realty-action a:hover {
  background-color: #4f8a64 !important;
}
.featured-properties .owl-controls .owl-buttons div {
  background: #4f8a64;
}
.featured-properties .owl-wrapper-outer .owl-wrapper .owl-item .mod-properties .realty-image .status {
  background-color: #4f8a64;
}
.featured-properties .owl-wrapper-outer .owl-wrapper .owl-item .mod-properties .realty-wrap .realty-title a:hover {
  color: #4f8a64;
}
.featured-properties .owl-wrapper-outer .owl-wrapper .owl-item .mod-properties .realty-wrap .realty-summary .realty-detail .fa {
  color: #4f8a64;
}
.featured-properties .owl-wrapper-outer .owl-wrapper .owl-item .mod-properties .realty-wrap .realty-summary .realty-info .realty-action a {
  background-color: #f0e797;
  color: #c1b547;
}
.featured-properties .owl-wrapper-outer .owl-wrapper .owl-item .mod-properties .realty-wrap .realty-summary .realty-info .realty-action a:hover {
  background-color: #4f8a64 !important;
}
#our-services:before {
  background: #4f8a64;
}
#meet-our-agents .meet-agents .owl-controls .owl-buttons div {
  background: #4f8a64;
}
#meet-our-agents .meet-agents .ouragents-title a:hover {
  color: #4f8a64;
}
#meet-our-agents .meet-agents .ouragents-ion a:hover {
  background-color: #4f8a64;
}
#call-to-action:before {
  background: #4f8a64;
}
#call-to-action .sub-call-to-action .sppb-row .sppb-text-right .sppb-btn {
  background-color: #f0e797 !important;
  color: #c1b547 !important;
  border-color: #f0e797 !important;
}
#testimonial-pro .testimonial .sppb-carousel-indicators .active {
  background-color: #4f8a64;
}
#sp-footer-top:before {
  background: #4f8a64;
}
#sp-footer-top .row #sp-footer2 .recent-property-footer .sp-module-content .sidebar-layout .realty-item .realty-wrap .realty-title a:hover {
  color: #f0e797;
}
#sp-footer-top .row #sp-footer3 ul.menu li a:hover {
  color: #f0e797;
}
#sp-footer-top .row #sp-footer4 ul.detail-contact-info li a:hover {
  color: #f0e797 !important;
}
#sp-footer-bottom {
  background-color: #4f8a64;
}
#sp-footer-bottom .row #sp-footer5 .copyright .back-to-top .fa-angle-up {
  color: #4f8a64;
}
#sp-footer-bottom .row #sp-footer5 .copyright .text-block a:hover {
  color: #4f8a64;
}
#search-map .search-map-vertical h1 {
  background-color: #4f8a64;
}
#search-map .search-map-vertical h1:before {
  background-color: #4f8a64 !important;
}
#search-map .search-map-vertical #ZJSearchForm input:hover {
  background-color: #4f8a64;
}
#search-map .search-map-vertical #ZJSearchForm .jux-search-form .area-field #area_slider .noUi-connect {
  background: #4f8a64;
}
#search-map .search-map-vertical #ZJSearchForm .jux-search-form .price-field #price_slider .noUi-connect {
  background: #4f8a64;
}
#search-map .search-map-horizontal h1 {
  background-color: #4f8a64;
}
#search-map .search-map-horizontal h1:before {
  background-color: #4f8a64;
}
#search-map .search-map-horizontal .jux-search-form .area-field #area_slider .noUi-connect {
  background: #4f8a64;
}
#search-map .search-map-horizontal .jux-search-form .price-field #price_slider .noUi-connect {
  background: #4f8a64;
}
.recent-properties-map .owl-controls .owl-buttons div {
  background: #4f8a64;
}
.recent-properties-map .owl-wrapper-outer .owl-item .real_slider .overlay .real_des .real_price {
  background-color: #4f8a64 !important;
}
.recent-properties-map .owl-wrapper-outer .owl-item .real_slider .overlay .real_des h3 a:hover {
  color: #4f8a64 !important;
}
.recent-properties-map .owl-wrapper-outer .owl-item .real_slider .status .type:hover {
  color: #4f8a64 !important;
}
body.view-realties #sp-component #products .list-style .realty-image .thumb-holder .status .type:hover {
  color: #4f8a64 !important;
}
body.view-realties #sp-component #products .list-style .realty-wrap .realty-title a:hover {
  color: #4f8a64;
}
body.view-realties #sp-component #products .list-style .realty-wrap .realty-summary .realty-info .realty-action a {
  background-color: #f0e797;
  color: #c1b547;
}
body.view-realties #sp-component #products .list-style .realty-wrap .realty-summary .realty-info .realty-action a:hover {
  background-color: #4f8a64 !important;
}
.recent-property-right .sp-module-content .sidebar-layout .mod-properties .realty-wrap .realty-type {
  color: #4f8a64;
}
.recent-property-right .sp-module-content .sidebar-layout .mod-properties .realty-wrap .realty-title a:hover {
  color: #4f8a64 !important;
}
.pagination li a {
  color: #4f8a64 !important;
}
#sp-slideshow .search-list-no-sidebar h3 {
  background-color: #4f8a64;
}
#sp-slideshow .search-list-no-sidebar h3:before {
  background-color: #4f8a64;
}
#products .grid-style .realty-image .thumb-holder .status .type:hover {
  color: #4f8a64;
}
#products .grid-style .realty-wrap .realty-title a:hover {
  color: #4f8a64;
}
#products .grid-style .realty-wrap .realty-summary .realty-info .realty-action a {
  background-color: #f0e797;
  color: #c1b547;
}
#products .grid-style .realty-wrap .realty-summary .realty-info .realty-action a:hover {
  background-color: #4f8a64 !important;
}
.agent-property .agents .right-content .form-action button:hover {
  background-color: #4f8a64;
}
.agent-property .agent-more-properties .owl-controls .owl-buttons div {
  background: #4f8a64;
}
.agent-property .agent-more-properties .owl-wrapper-outer .owl-wrapper .owl-item .real_slider .overlay .real_des .real_price {
  background-color: #4f8a64;
}
.agent-property .agent-more-properties .owl-wrapper-outer .owl-wrapper .owl-item .real_slider .overlay .real_des a:hover {
  color: #4f8a64;
}
.realty-item-details .realty-social a:hover {
  background-color: #4f8a64 !important;
}
.sidebar-right .form-search .finder input:focus {
  border-color: #4f8a64;
  box-shadow: 0 0 6px #4f8a64;
  color: #4f8a64;
}
#sp-left .sidebar-left .form-search .finder input:focus {
  border-color: #4f8a64;
  box-shadow: 0 0 6px #4f8a64;
  color: #4f8a64;
}
.sp-module .category-module >li >a:hover {
  color: #4f8a64;
}
.tagspopular ul >li:hover {
  background-color: #4f8a64;
}
.items-leading .entry-header h2 a:hover {
  color: #4f8a64;
}
.items-row .entry-header h2 a:hover {
  color: #4f8a64;
}
table.mod_minical_table td#mod_minical_today {
  background-color: #4f8a64;
}
.readmore .btn-default:hover {
  background-color: #4f8a64;
  border-color: #4f8a64;
  color: #fff !important;
}
ul.pager li a {
  color: #4f8a64;
}
.jux-agents-listing .agents-listing .agent-item .rightcontent .agent-summary .agent-desc .agent-social a:hover {
  background-color: #4f8a64 !important;
}
.jux-agents-listing .agents-listing .agent-item .rightcontent .agent-summary .agent-desc .agent-action a {
  background-color: #f0e797 !important;
  color: #c1b547 !important;
}
.jux-agents-listing .agents-listing .agent-item .rightcontent .agent-summary .agent-desc .agent-action a:hover {
  background-color: #4f8a64 !important;
}
.agents .left-content .agent-info .rightcontent .agent-wrap .agent-summary .agent-desc .social-list a:hover {
  background-color: #4f8a64 !important;
}
.agents .left-content .agent-info .rightcontent .agent-wrap .agent-summary .agent-desc .agent-action a {
  background-color: #f0e797 !important;
  color: #c1b547 !important;
}
.agents .left-content .agent-info .rightcontent .agent-wrap .agent-summary .agent-desc .agent-action a:hover {
  background-color: #4f8a64 !important;
}
#sp-right .sp-module-content #ZJSearchForm input:hover {
  background-color: #4f8a64;
}
#sp-right .sp-module-content #ZJSearchForm .jux-search-form .area-field #area_slider .noUi-connect {
  background: #4f8a64;
}
#sp-right .sp-module-content #ZJSearchForm .jux-search-form .price-field #price_slider .noUi-connect {
  background: #4f8a64;
}
.contact-agent input:focus {
  border-color: #4f8a64;
  box-shadow: 0 0 6px #4f8a64;
  color: #4f8a64;
}
.contact-agent textarea:focus {
  border-color: #4f8a64;
  box-shadow: 0 0 6px #4f8a64;
  color: #4f8a64;
}
.contact-agent #conactagentform .form-group .btn-info:hover {
  background-color: #4f8a64 !important;
}
.agent-details .agent-social a:hover {
  background-color: #4f8a64;
}
.agent-details .realties-listing .list-style .realty-image .thumb-holder .status .type:hover {
  color: #4f8a64 !important;
}
.agent-details .realties-listing .list-style .realty-wrap .realty-title a:hover {
  color: #4f8a64;
}
.agent-details .realties-listing .list-style .realty-wrap .realty-summary .realty-info .realty-action a {
  background-color: #f0e797 !important;
  color: #c1b547 !important;
}
.agent-details .realties-listing .list-style .realty-wrap .realty-summary .realty-info .realty-action a:hover {
  background-color: #4f8a64 !important;
}
#agent_submit:hover {
  background-color: #4f8a64;
}
.text-center .form-group .btn {
  background-color: #4f8a64 !important;
  border-color: #4f8a64 !important;
}
.my-properties .property-content .property-wrap .property-title a:hover {
  color: #4f8a64;
}
.my-properties .property-content .property-wrap .property-summary .property-info .property-action .agent-action a:hover {
  background-color: #4f8a64;
}
.agentprofile .agentprofile-left .agentprofile-left-wrapper .agentprofile-left-menu .agentprofile-info .agentprofile-submit a {
  background-color: #f0e797;
  border-color: #f0e797;
  color: #c1b547;
}
.agentprofile .agentprofile-left .agentprofile-left-wrapper .agentprofile-left-menu .agentprofile-info .agentprofile-submit a:hover {
  background-color: #4f8a64;
}
.agentprofile .agentprofile-left .agentprofile-left-wrapper .agentprofile-left-menu .sidebar-content .submit-paypal .btn a {
  background-color: #f0e797;
  border-color: #f0e797;
  color: #c1b547;
}
.agentprofile .agentprofile-left .agentprofile-left-wrapper .agentprofile-left-menu .sidebar-content .submit-paypal .btn a:hover {
  background-color: #4f8a64;
}
.agentprofile .agentprofile-left .agentprofile-left-wrapper .agentprofile-left-menu .sidebar-content .package-info a {
  color: #4f8a64;
}
.agentprofile .agentprofile-right .agentprofile-content form .agentprofile-group .control-group .controls .input-prepend .btn {
  color: #4f8a64 !important;
}
.agentprofile .agentprofile-right .agentprofile-content form .agent-submit .btn {
  background-color: #f0e797;
  color: #c1b547;
}
.agentprofile .agentprofile-right .agentprofile-content form .agent-submit .btn:hover {
  background-color: #4f8a64;
  color: #fff;
}
.myproperty-left .myproperty-left-wrapper .myproperty-left-menu .myproperty-submit a {
  background-color: #f0e797;
  border-color: #f0e797;
  color: #c1b547;
}
.myproperty-left .myproperty-left-wrapper .myproperty-left-menu .myproperty-submit a:hover {
  background-color: #4f8a64;
}
.my-properties .navbar-inner .nav li a {
  color: #4f8a64;
}
.alert-message {
  background-color: #4f8a64;
}
.submitproperty-left .submitproperty-left-wrapper .submitproperty-left-menu .submitproperty-submit a {
  background-color: #f0e797;
  border-color: #f0e797;
  color: #c1b547;
}
.submitproperty-left .submitproperty-left-wrapper .submitproperty-left-menu .submitproperty-submit a:hover {
  background-color: #4f8a64;
}
.submitproperty-left .submitproperty-left-wrapper .submitproperty-submit a:hover {
  background-color: #4f8a64;
}
.submitproperty form .submitproperty-content .submitproperty-group .group-container .control-group .controls #editor-xtd-buttons a {
  background-color: #f0e797;
  color: #c1b547;
  border-color: #f0e797;
}
.submitproperty form .submitproperty-content .submitproperty-group .group-container .control-group .controls #editor-xtd-buttons a:hover {
  background-color: #4f8a64;
  border-color: #4f8a64;
}
.submitproperty form .submitproperty-content .submitproperty-group .group-container .formelm-buttons .btn {
  background-color: #4f8a64;
  border-color: #4f8a64;
}
#jse_purchase-form .agentprofile-content .agentprofile-group .validate {
  background-color: #f0e797;
  color: #c1b547;
}
#jse_purchase-form .agentprofile-content .agentprofile-group .validate:hover {
  background-color: #4f8a64;
  color: #fff;
}
.sppb-col-sm-8 .contact-form form div input:focus {
  border-color: #4f8a64 !important;
  box-shadow: 0 0 6px #4f8a64 !important;
  color: #4f8a64 !important;
}
.sppb-col-sm-8 .contact-form form div textarea:focus {
  border-color: #4f8a64 !important;
  box-shadow: 0 0 6px #4f8a64 !important;
  color: #4f8a64 !important;
}
.sppb-col-sm-8 .contact-form form button {
  background-color: #f0e797;
  color: #c1b547;
}
.sppb-col-sm-8 .contact-form form button:hover {
  background-color: #4f8a64;
}
.sppb-col-sm-4 .search-contact .form-search .finder input:focus {
  border-color: #4f8a64;
  box-shadow: 0 0 6px #4f8a64;
  color: #4f8a64;
}
.sppb-col-sm-4 .recent-posts-contact .recent-posts li a:hover {
  color: #4f8a64;
}
.sppb-col-sm-4 .tags-contact .tagspopular ul li:hover {
  background-color: #4f8a64;
}
#contact-1 .contact1-form form div input:focus {
  border-color: #4f8a64;
  box-shadow: 0 0 6px #4f8a64;
  color: #4f8a64;
}
#contact-1 .contact1-form form div textarea:focus {
  border-color: #4f8a64;
  box-shadow: 0 0 6px #4f8a64;
  color: #4f8a64;
}
#contact-1 .contact1-form form button {
  background-color: #f0e797;
  border: none;
  color: #c1b547;
}
#contact-1 .contact1-form form button:hover {
  background-color: #4f8a64;
  color: #fff;
}
.sp-megamenu-parent {
  list-style: none;
  padding: 0;
  margin-top: -9px;
  z-index: 9;
  display: block;
  float: left;
  margin-left: 19px;
}
.sp-megamenu-parent >li {
  display: inline-block;
  position: relative;
  padding: 0;
}
.sp-megamenu-parent >li.menu-justify {
  position: static;
}
.sp-megamenu-parent >li >a {
  display: inline-block;
  padding: 0 10px;
  line-height: 90px;
  font-size: 12px;
  letter-spacing: 1px;
  color: #333;
}
.sp-megamenu-parent >li.sp-has-child>a:after {
  font-family: "FontAwesome";
  content: " \f107";
}
.sp-megamenu-parent >li.active:hover>a {
  color: #333 !important;
}
.sp-megamenu-parent >li:hover>a {
  text-decoration: none;
  color: #333 !important;
}
.sp-megamenu-parent .sp-mega-group {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sp-megamenu-parent .sp-mega-group .sp-mega-group-child {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sp-megamenu-parent .sp-dropdown {
  margin: 0;
  position: absolute;
  z-index: 10;
  display: none;
  width: 200px;
  margin-top: -12px;
  border-top: 2px solid #4f8a64;
}
.sp-megamenu-parent .sp-dropdown .sp-dropdown-inner {
  background: #fff;
}
.sp-megamenu-parent .sp-dropdown .sp-dropdown-items {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sp-megamenu-parent .sp-dropdown .sp-dropdown-items .sp-has-child>a:after {
  font-family: "FontAwesome";
  content: " \f105";
  float: right;
}
.sp-megamenu-parent .sp-dropdown.sp-menu-center {
  margin-left: 45px;
}
.sp-megamenu-parent .sp-dropdown.sp-dropdown-main {
  top: 100%;
}
.sp-megamenu-parent .sp-dropdown.sp-dropdown-main.sp-menu-right,
.sp-megamenu-parent .sp-dropdown.sp-dropdown-main.sp-menu-full {
  left: 0;
}
.sp-megamenu-parent .sp-dropdown.sp-dropdown-main.sp-menu-left {
  right: 0;
}
.sp-megamenu-parent .sp-dropdown.sp-dropdown-sub {
  top: 0;
  left: 100%;
}
.sp-megamenu-parent .sp-dropdown.sp-dropdown-sub .sp-dropdown-inner {
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item {
  display: block;
  padding: 0;
  position: relative;
  border-top: 1px solid #F1F0F0;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item >a {
  display: block;
  padding: 10px;
  color: #333;
  cursor: pointer;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item >a.sp-group-title {
  text-transform: uppercase;
  font-weight: bold;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item >a:hover {
  color: #4f8a64;
  text-decoration: none;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item.active>a:hover {
  color: #fff;
}
.sp-megamenu-parent .sp-dropdown-mega >.row {
  margin-top: 30px;
}
.sp-megamenu-parent .sp-dropdown-mega >.row:first-child {
  margin-top: 0;
}
.sp-megamenu-parent .sp-has-child:hover >.sp-dropdown {
  display: block;
}
.sp-megamenu-parent.menu-fade .sp-has-child:hover >.sp-dropdown {
  -webkit-animation: spMenuFadeIn 400ms;
  animation: spMenuFadeIn 400ms;
}
.sp-megamenu-parent.menu-zoom .sp-has-child:hover >.sp-dropdown {
  -webkit-animation: spMenuZoom 400ms;
  animation: spMenuZoom 400ms;
}
.sp-megamenu-parent.menu-fade-up .sp-has-child:hover >.sp-dropdown {
  -webkit-animation: spMenuFadeInUp 400ms;
  animation: spMenuFadeInUp 400ms;
}
#offcanvas-toggler {
  float: right;
  line-height: 90px;
}
#offcanvas-toggler >i {
  display: inline-block;
  padding: 0 0 0 10px;
  font-size: 18px;
  background: transparent;
  margin: 5px 0 27px 0;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: color 400ms, background-color 400ms;
  -o-transition: color 400ms, background-color 400ms;
  transition: color 400ms, background-color 400ms;
}
#offcanvas-toggler >i:hover {
  color: #fff;
}
.close-offcanvas {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 1;
  color: #000;
  border: 2px solid #eee;
  border-radius: 100%;
  width: 22px;
  height: 22px;
  line-height: 18px;
  text-align: center;
  font-size: 12px;
}
.close-offcanvas:hover {
  background: #000;
  color: #fff;
}
.offcanvas-menu {
  width: 280px;
  height: 100%;
  background: #fff;
  color: #999;
  position: fixed;
  top: 0;
  opacity: 0;
  z-index: 9999;
  overflow-y: scroll;
}
.offcanvas-menu .offcanvas-inner {
  padding: 20px;
}
.offcanvas-menu .offcanvas-inner .sp-module {
  margin-top: 20px;
}
.offcanvas-menu .offcanvas-inner .sp-module ul > li {
  border: none;
}
.offcanvas-menu .offcanvas-inner .sp-module ul > li a {
  border-bottom: 1px dotted #e8e8e8;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  padding: 4px 20px;
}
.offcanvas-menu .offcanvas-inner .sp-module ul > li a:hover {
  background: #f5f5f5;
}
.offcanvas-menu .offcanvas-inner .sp-module ul > li >a:before {
  display: none;
}
.offcanvas-menu .offcanvas-inner .sp-module:first-child {
  margin-top: 0;
}
.offcanvas-menu .offcanvas-inner .sp-module .sp-module-content > ul {
  margin: 0 -20px;
}
.offcanvas-menu .offcanvas-inner .search {
  margin-top: 25px;
}
.offcanvas-menu .offcanvas-inner .search input {
  width: 100%;
  border-radius: 0;
  border: 1px solid #eee;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.ltr .offcanvas-menu {
  -webkit-transition: opacity 400ms cubic-bezier(0.7,0,0.3,1), right 400ms cubic-bezier(0.7,0,0.3,1);
  transition: opacity 400ms cubic-bezier(0.7,0,0.3,1), right 400ms cubic-bezier(0.7,0,0.3,1);
}
.ltr .body-innerwrapper:after {
  right: 0;
}
.ltr .offcanvas-menu {
  right: -280px;
}
.ltr.offcanvas .offcanvas-menu {
  right: 0;
}
.body-innerwrapper:after {
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  background: rgba(0,0,0,0.8);
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
  transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
  z-index: 999;
}
.offcanvas {
  width: 100%;
  height: 100%;
  position: relative;
}
.offcanvas .body-innerwrapper:after {
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.offcanvas .offcanvas-menu {
  opacity: 1;
}
.menu .nav-child.small {
  font-size: inherit;
}
@-webkit-keyframes spMenuFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes spMenuFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes spMenuZoom {
  0% {
    opacity: 0;
    -webkit-transform: scale(.8);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}
@keyframes spMenuZoom {
  0% {
    opacity: 0;
    transform: scale(.8);
    -webkit-transform: scale(.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
@-webkit-keyframes spMenuFadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0,30px,0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
  }
}
@keyframes spMenuFadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0,30px,0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
